.myprofile {
  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  padding-left: 20px;
  .follow {
    display: flex;
    gap: 20px;
  }
  .introduce {
    display: flex;
    padding-top: 20px;

    p {
      font-weight: bold;
    }
  }
  .user {
    padding: 20px;
  }

}
