.myprofile {


  .post_top {
    display: flex;
    justify-content: space-between;
  }

  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .content {
    font-weight: bold;
  }

  padding-left: 20px;

  .follow {
    display: flex;
    gap: 20px;

  }

  .introduce {
    display: flex;
    padding-top: 20px;

    p {
      font-weight: bold;
    }
  }

  .user {
    padding: 20px;
  }

  .myprofile_footer {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;


  }

  .comment_component {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 200px;


  }

  .comment_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .button {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin: 0;
    -webkit-justify-content: unset;


  }

  .comment_button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 0;
    margin: 0;
    -webkit-justify-content: unset;
    font-weight: bold;

  }

  .liked_post_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .comment_component {
    display: flex;
    overflow-y: auto;
    max-height: 200px;

    .comment {
      display: flex;
      gap: 10px;
      padding: 10px;
      font-weight: bold;
    }
  }

  .date {
    font-size: 15px;
    color: gray;
  }

}
