div {
  h1 {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
  }

  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .myprofile {

    padding-left: 20px;

    .follow {
      display: flex;
      gap: 20px;
    }

    .introduce {
      display: flex;
      padding-top: 20px;

      p {
        font-weight: bold;
      }

    }

    .user {
      padding: 20px;

    }

  }

  .update {
    width: 400px;
    padding-left: 30px;
    padding-top: 30px;
    gap: 20px;

    div {
      display: flex;

      flex-direction: column;
    }
  }

  //Button{
  //  width: 100px;
  //  height: 40px;
  //  background-color: #f5f5f5;
  //  border: 1px solid #f5f5f5;
  //  border-radius: 5px;
  //  color: #000;
  //  font-weight: bold;
  //  cursor: pointer;
  //
  //}
  .update_button {
    display: flex;
    justify-content: flex-end;


  }


}
