.sidebar {
  width: 20%;
  height: 100vh;
  border-right: 1px solid lightgrey;
  top: 0;
  left: 0;
  overflow-y: auto;
  position: sticky;
  .header {
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .list {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .search {
      padding-top: 150px;
      display: flex;
      flex-direction: column;

      input {
        width: 100%;


        padding-left: 10px;
      }

      button {
        padding-top: 50px;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 100px;
    }

    li {
      list-style: none;
    }
  }
}
